<div class="animated fadeInRight attention-box">
<div class="info-header content-header">
    <p class="content-p">关注专家</p>
</div>
<div class="attention-main">
    <!--搜索容器-->
    <div class="content-top professor-list"></div>
    <!--搜索模板-->
    <script id="query" type="text/html">
        <form class="layui-form-item layui-form">
        {{#  layui.each(d.fieldInfos, function(index, item){ }}
            {{#  if(item.queryType == '1'){ }}
            <div class="layui-inline">
                <label class="layui-form-label" style="width: auto;padding: 5px 15px">{{item.showName}} :</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="{{item.fieldName}}" placeholder="请输入{{item.showName}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            {{# } }}
            {{#  if(item.queryType == '2'){ }}
            <div class="layui-inline">
                <label class="layui-form-label" style="width: auto">{{item.showName}} :</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" style="" name="{{item.fieldName}}" placeholder="{{item.showName}}" autocomplete="off" class="layui-input">
                </div>
            </div>
            {{# } }}
            {{#  if(item.queryType == '3'){ }}
            <div class="layui-inline between" name="{{item.fieldName}}">
                <label class="layui-form-label" style="width: auto">{{item.showName}} :</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="number" oninput="value=value.replace(/\D/g,'');" placeholder="最小值" autocomplete="off" class="layui-input between-item">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="number" oninput="value=value.replace(/\D/g,'');" placeholder="最大值" autocomplete="off" class="layui-input between-item">
                </div>
            </div>
            {{# } }}
            {{#  if(item.queryType == '4'){ }}
            <div class="layui-inline">
                <label class="layui-form-label" style="width: auto">{{item.showName}} :</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input class="layui-input" name="{{item.fieldName}}" placeholder="点击选择" onclick="layui.laydate({elem: this, festival: true})">
                </div>
            </div>
            {{# } }}
            {{#  if(item.queryType == '5'){ }}
            <div class="layui-inline between" name = "{{item.fieldName}}">
                <label class="layui-form-label" style="width: auto">{{item.showName}} :</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input class="layui-input between-item"  placeholder="点击选择" onclick="layui.laydate({elem: this, festival: true})">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input class="layui-input between-item"  placeholder="点击选择" onclick="layui.laydate({elem: this, festival: true})">
                </div>
            </div>
            {{# } }}
            {{#  if(item.queryType == '6'){ }}
            <div class="layui-inline">
                <label class="layui-form-label" style="width: auto">{{item.showName}} :</label>
                <div class="layui-input-inline form-item" style="width: 100px;">
                    <select name="{{item.fieldName}}" lay-filter="aihao">
                        <option value="">请选择</option>
                        {{#  layui.each(item.constantInfos, function(index, items){ }}
                        <option value="{{items.csValue}}">{{items.csName}}</option>
                        {{# });}}
                    </select>
                </div>
            </div>
            {{# } }}
        {{#  }); }}
            <div class="layui-inline" style="margin-bottom: 9px;">
                <div class="layui-input-inline form-item" style="width: 100px;">
                    <button class="layui-btn layui-btn-normal query-btn" lay-submit lay-filter="query" style="height: 30px;line-height: 30px;">查询</button>
                </div>
            </div>
        </form>
    </script>

    <div class="layui-clear"></div>
    <!--列表容器-->
    <div class="attention-bottom"></div>
    <!--分页-->
    <div id="page"></div>

    <!--列表模板-->
    <script id="likePro" type="text/html">
    <table class="layui-table" lay-even lay-skin="nob">
        <colgroup>
            <col width="200">
            <col width="150">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>
                <span class="layui-form">
                <input class="chooseAll" type="checkbox" name="" title="全选" lay-filter="checkbox">
                </span>
                <button class="layui-btn layui-btn-primary default-like">取消关注</button>
            </th>
            {{#  layui.each(d.fieldInfos, function(index, item){ }}
                {{# if (item.showIndex != 0){ }}
                {{# if (item.fieldType != 'Pic'){ }}
                <th style="text-align: center">{{ item.showName }}</th>
                {{# } }}
                {{# } }}
            {{# }); }}
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        {{#  layui.each(d.fieldDatas, function(index, item){ }}
        <tr title="点击查看详情" uid="{{item.fieldInfos[0].data}}">
            <td>
                <span class="layui-form">
                    <input class="checkbox" type="checkbox" choosed="false"  lay-skin="primary" lay-filter="checkbox1">
                </span>
                <div class="videoImg-small">
                    {{#if(item.fieldInfos[1].data){}}
                    <img src="{{d.SERVER_URL}}{{item.fieldInfos[1].data}}" style="width: 100%;height: 100%">
                    {{#}else{ }}
                    <img src="./img/ardLive1.png" alt="" style="width: 80%;height: 100%;border-radius: 100%">
                    {{# } }}
                </div>
            </td>
            {{#  layui.each(item.fieldInfos, function(index, items){ }}
                {{# if (items.showIndex != 0 && items.fieldType != 'Pic'){ }}
                    {{#if(items.fieldName == 'user_place'){ }}
                        <td>{{util.placeFormat(items.data)}}</td>
                    {{# }else{  }}
                        <td>{{items.data||''}}</td>
                    {{# } }}
                {{# } }}
            {{# }); }}
            <td>
                <i uid="{{item.fieldInfos[0].data}}" class="unfollow icon iconfont icon-xihuan" title="取消关注" style="font-size: 20px;cursor: pointer"></i>
            </td>
        </tr>
        {{#  }); }}
        </tbody>
    </table>
    <div class="layui-clear"></div>
    </script>

</div>
</div>