.safety-box{
    border: 1px solid #d5d5d5;
    background: #ffffff;
}
.content-header{
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 30px;
    line-height: 22px;
    border-radius: 0 2px 2px 0;
    border-bottom: 1px solid #d5d5d5;
    color: #01a0d8;
    font-weight: 700;
}
.content-p{
    border-left: 5px solid #01a0d8;
    text-indent: 5px;
}
.safety-main{
    padding: 20px 20px 20px 50px;
}
.li-items{
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 25px 0;
    color: #ccc;
}
.li-item-first{
    text-align: left;
    text-indent: 20px;
    width:20%;
    color: #000;
}
.li-item-last{
    text-align: right;
    width:20%;
}
.li-item-last a{
    color: #01a0d8;
}
.change-main{
    width: 70%;
    margin: 0 auto;
}


/*step*/
.step-body{
    position: relative;


}
.step-header{
    width: 100%;
    margin: 0 auto;
    display: none;
    margin-bottom: 160px;
}
.step-header ul{
    padding: 0;
}
.step-header li{
    list-style-type:none;
    text-align: center;
    float: left;
    position: relative;
}
.step-header li p{
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family:  微软雅黑;
    color: #625454;
}
.step-header li span{
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    font-family: Arial;
    color: #625454;
    height: 25px;
    line-height: 25px;
    background: url(../../../img/cell.png) center top no-repeat;
    display: block;
}
.step-header li.step-active span{
    background: url(../../../img/cell-active.png) center top  no-repeat ;
    color: white;
}
.step-header li.step-active p{
    color: #01a0d8;
}
.step-bar,.step-bar-active{
    height: 13px;
    border-radius: 12px;
}
.step-bar{
    width:100%;
    background: url(../../../img/bar-bg.png) ;
    position: relative;
    border-radius: 12px;
    //z-index: -1;
    height: 5px;
    top: 70px;
}
.step-bar-active{
    width: 0px;
    background: #01a0d8;
    height: 5px;

}
.step-list{
    display: none;
    clear: both;
    width: 80%;
    margin: 20px auto;
}
.email-input{
    height: 35px;
    border-radius: 8px;
}
.code-input{
    width: 60%;
    height: 35px;
    border-radius: 8px;
    display: inline-block;
}
.code-btn{
    padding: 0;
    width: 38%;
    height: 35px;
    line-height: 35px;
    border-radius: 8px;
}
.nextBtn{
    padding: 0px;
    //width: 75%;
    width: 100%;
    //margin-left: 15%;
    background: #03a0d8;
}
.step-success{
    margin: 0 auto;
    text-align: center;
    margin-top: -50px;
}



@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        -ms-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        -ms-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        -ms-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
.return-button {
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    background: #03a0d8;
    border-radius: 8px;
}
