<div class="safety-box animated fadeInRight">
    <div class="info-header content-header">
        <p class="content-p">账户安全</p>
    </div>
    <div class="safety-main">
        <ui>
            <li>
                <span class="li-items li-item-first">
                    <i class="chnage-icon icon iconfont icon-jinggao"></i> 绑定邮箱
                </span>
                <span class="li-items bind-email-tips">绑定邮箱...</span>
                <span class="li-items li-item-last"><a href="#safetyChange?type=email" class="bind-email-btn">绑定邮箱</a></span>
            </li>
            <li>
                <span class="li-items li-item-first" >
                    <i class="icon iconfont icon-zhengque" style="color: #01a0d8"></i>
                    绑定手机</span>
                <span class="li-items bind-phone-tips">更换手机...</span>
                <span class="li-items li-item-last"><a href="#safetyChange?type=phone">更换手机</a></span>
            </li>
            <li>
                <span class="li-items li-item-first" >
                    <i class="icon iconfont icon-zhengque" style="color: #01a0d8"></i>
                    账户密码</span>
                <span class="li-items">更改密码...</span>
                <span class="li-items li-item-last"><a href="#safetyChange?type=pwd">更改密码</a></span>
            </li>
        </ui>
    </div>
</div>