<!--内容部分-->

<div class="home-main">
    <!--头部轮播部分-->
    <div class="home-top-carousel">
        <div class="swiper-container swiper-container1">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/1120253992_1483626366737_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120224961_1483143403191_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258422_1483681963680_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258441_1483680724298_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258839_1483684239446_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120261142_1483693525715_title0h.jpg"></div>
            </div>
        </div>
        <div class="pagination1"></div>
        <a class="arrow-left arrow-left1" href="#"></a>
        <a class="arrow-right arrow-right1" href="#"></a>
    </div>
    <!--直播服务-->
    <div class="live-service">
        <p class="live-service-why" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">为什么医学会议、手术直播、动态医学影像都在用安锐达？</p>
        <p class="live-service-reson" aos="fade-up" aos-easing="ease" aos-delay="200" aos-once="true">
            安碧捷医学直播服务经过多年音视频技术沉淀，基于专业的跨平台视频解码技术，依托领先的大规模视频内容分发网络，提供低延时、高清流畅、安全稳定、多终端、多码率、高并发的实时音视频直播服务。</p>
        <div class="live-service-infor-box" aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">
            <div class="live-service-infor live-service-infor1">
                <p class="live-service-p1">协议推送</p>
                <p class="live-service-p2">RTMP</p>
            </div>
            <div class="live-service-infor live-service-infor2">
                <p class="live-service-p1">多终端</p>
                <p class="live-service-p2">flash/app</p>
                <p class="live-service-p2" style="margin-top: 0px">html5</p>
            </div>
            <div class="live-service-infor live-service-infor3">
                <p class="live-service-p1">毫秒级延时</p>
                <p class="live-service-p2">500</p>
            </div>
        </div>
    </div>
    <div style="background: #f2f2f2;padding-top: 80px;padding-bottom: 60px ">
        <div class="live-service-bottom">
            <div class="live-service-describe" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <p class="live-service-describe1" >直播服务</p>
                <p class="live-service-describe2" >
                    安锐达影像直播系统依托领先的大规模视频内容分发网络，提供直播服务。同时可以结合安锐达影像转播系统，将会议现场影像、诊室传输至会场的影像以及双方的沟通语音作为信号源，直播至全网。</p>
                <p class="live-service-describe3" ><a><img src="img/home2.png"></a><span>提供秒级延时</span></p>
                <p class="live-service-describe3" ><a><img src="img/home3.png"></a><span>高清流畅、安全稳定</span></p>
                <p class="live-service-describe3" ><a><img src="img/home4.png"></a><span>多终端、多码率、高并发</span></p>
                <a href="" class="live-service-describe-more" >更多详情</a>
            </div>
            <div class="live-service-img" aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">
                <div class="live-service-img-box">
                    <img src="img/home5.png" style="margin-left: 7px">
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="padding-top: 90px;padding-bottom: 60px ">
        <div class="live-service-bottom">
            <div class="live-service-img" style="margin-top: 0" aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">
                <div class="live-service-img-box">
                    <img src="img/home6.png" style="position: absolute;left: -132px">
                </div>
            </div>
            <div class="live-service-describe" style="float: right;width: 280px" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <p class="live-service-describe1" style="padding-top: 20px">转播服务</p>
                <p class="live-service-describe2" style="width: 244px" >
                    安锐达影像转播系统在网络环境良好的情况下可以无视地域限制(跨市、跨省)，将诊室超声机的图像实时传输至会场，并且可以与会场进行实时语音互动。</p>
                <a href="" class="live-service-describe-more">更多详情</a>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <!--在线课堂-->
    <div style="background: #f2f2f2;padding-bottom: 120px">
        <div class="online-classroom-box">
            <p class="online-classroom-p1" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">安锐达在线课堂</p>
            <div class="online-classroom">
                <div class="online-classroom-img">
                    <img src="img/home8.png" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                </div>
                <p aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">基于专业的跨平台视频编码技术和大规模视频内容分发网络、提供稳定流畅、低延时、高并发的实时音频服务。</p>
            </div>
            <div class="online-classroom1">
                <div class="online-classroom-img">
                    <img src="img/home7.png" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                </div>
                <p aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">基于专业的跨平台视频编码技术和大规模视频内容分发网络、提供稳定流畅、低延时、高并发的实时音频服务。</p>
            </div>
            <div class="online-classroom">
                <div class="online-classroom-img">
                    <img src="img/home9.png" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                </div>
                <p aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">基于专业的跨平台视频编码技术和大规模视频内容分发网络、提供稳定流畅、低延时、高并发的实时音频服务。</p>
            </div>
            <div class="online-classroom1">
                <div class="online-classroom-img">
                    <img src="img/home10.png" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                </div>
                <p aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">基于专业的跨平台视频编码技术和大规模视频内容分发网络、提供稳定流畅、低延时、高并发的实时音频服务。</p>
            </div>
            <div style="clear: both"></div>
            <div aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <a href=""  class="live-service-describe-more">更多详情</a>
            </div>
        </div>
    </div>
    <!--中间轮播-->
    <div class="center-carousel">
        <div class="swiper-container swiper-container2">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/1120253992_1483626366737_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120224961_1483143403191_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258839_1483684239446_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120261142_1483693525715_title0h.jpg"></div>
            </div>
        </div>
        <div class="pagination2"></div>
        <a class="arrow-left arrow-left2" href="#"></a>
        <a class="arrow-right arrow-right2" href="#"></a>
    </div>
    <div style="clear: both"></div>
    <!-- 如果需要分页器 -->
    <div class="center-carousel-type-box">
        <div class="center-carousel-type">
            <div class="swiper-pagination swiper-pagination1"></div>
            <div class="carousel-type">
                <div class="carousel-type-img">
                    <img src="img/home11.png">
                </div>
            </div>
            <div class="carousel-type">
                <div class="carousel-type-img">
                    <img src="img/home12.png">
                </div>
            </div>
            <div class="carousel-type">
                <div class="carousel-type-img">
                    <img src="img/home13.png">
                </div>
            </div>
            <div class="carousel-type">
                <div class="carousel-type-img">
                    <img src="img/home14.png">
                </div>
            </div>
        </div>
    </div>
</div>
