<!--侧边栏导航-->
<ul class="left-nav">
    <li class="left-nav-raduis"><span>在线课堂</span></li>
    <li>
        <span id="toApplicationScenarios">直播服务
            <!--<ul class="left-nav-1">
                <li id="toApplicationScenarios">应用场景</li>
                <li id="toProductAdvantage">产品优势</li>
            </ul>-->
        </span>
    </li>
    <li>
        <span id="toProductAdvantage">转播服务
            <!--<ul class="left-nav-1">
                <li>应用场景</li>
                <li>产品优势</li>
            </ul>-->
        </span>
    </li>
</ul>

<!--内容部分-->
<div class="live-main">
    <!--头部轮播部分-->
    <div class="live-top-carousel">
        <img src="img/liveservice1.png">
        <!--中间文字部分-->
        <div class="live-top-carousel-text-contanier">
            <p class="live-top-carousel-p1" aos="fade-up" aos-easing="ease" aos-delay="200" aos-once="true">直播服务</p>
            <p class="live-top-carousel-p2" aos="fade-up" aos-easing="ease" aos-delay="300" aos-once="true">重庆安碧捷科技股份有限公司经过多年音视频技术沉淀，基于专业的跨平台视频编解码技术，依托领先的大规模视频内容分发网络，提供低延时、高清流畅、安全稳定、多终端、多码率、高并发的直播服务</p>
        </div>
    </div>
    <!--功能介绍-->
    <div class="function-introduction-box">
        <div class="function-introduction" id="applicationScenarios" aos="fade-up" aos-easing="ease" aos-delay="300" aos-once="true">直播服务</div>
        <div class="function-introduction-left">
            <div class="function-introduction-left-img" aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">
                <img src="img/liveservice3.png" style="margin-top: 5px">
            </div>
            <p aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">学术会议直播</p>
            <span aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">直播PPT，会议现场视频，发言人音频作为直播输入源</span>
        </div>
        <div class="function-introduction-left">
            <div class="function-introduction-left-img" aos="fade-up" aos-easing="ease" aos-delay="300" aos-once="true">
                <img src="img/liveservice2.png">
            </div>
            <p aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">临床科室教学直播(动态医学影像)</p>
            <span aos="fade-up" aos-easing="ease" aos-delay="400" aos-once="true">直播主讲人音频，诊室超声机影像及手法作为直播输入源</span>
        </div>
    </div>
    <div class="product-advantage-box">
        <div class="product-advantage" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
            <p class="product-advantage-p1" id="productAdvantage">转播服务</p>
            <div class="product-advantage-left">
                <p class="product-advantage-left-p1">高并发、低延时</p>
                <p class="product-advantage-left-p2">依托大规模全网分发网络，支持千万级并发观看需求，端到端延时低至1-3秒</p>
            </div>
            <div class="product-advantage-right">
                <p class="product-advantage-left-p1">多终端支持</p>
                <p class="product-advantage-left-p2">提供多平台、多终端播放器、播放SDK、满足多端观看需求</p>
            </div>
            <div class="product-advantage-left" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <p class="product-advantage-left-p1">内容保护</p>
                <p class="product-advantage-left-p2">支实时水印、接收端黑白名单自定义、播放认证、以及多种防盗链 安全机制</p>
            </div>
            <div class="product-advantage-right" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <p class="product-advantage-left-p1">内容监控</p>
                <p class="product-advantage-left-p2">提供推流认证、延时直播、秒级禁播等功能、保障直播内容安全、规范</p>
            </div>
        </div>
    </div>
    <!--底部-->
    <div class="live-service-footer-box">
        <div class="live-service-footer">
            <div class="live-service-footer-left" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <p class="live-service-footer-describe1">联系客服</p>
                <p class="live-service-footer-describe2">基于专业的跨平台视频解码技术和大规模视频分发网络</p>
                <a href="./components/inquiry/inquiry.html" aos="fade-up" aos-easing="ease" aos-delay="200" aos-once="true">咨询客服</a>
            </div>
            <div class="live-service-footer-center" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <img src="img/liveservice4.png" style="margin-top: 5px">
            </div>
            <div class="live-service-footer-right" aos="fade-up" aos-easing="ease" aos-delay="100" aos-once="true">
                <p class="live-service-footer-describe1">立即注册</p>
                <p class="live-service-footer-describe2">基于专业的跨平台视频解码技术和大规模视频分发网络</p>
                <a href="./components/register/register.html" aos="fade-up" aos-easing="ease" aos-delay="200" aos-once="true">立即注册</a>
            </div>
        </div>
    </div>
</div>