<!--内容部分-->
<div class="curstomer-main">
    <!--头部轮播部分-->
    <div class="curstomer-top-carousel">
        <div class="swiper-container swiper-container3">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/1120253992_1483626366737_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120224961_1483143403191_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258422_1483681963680_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258441_1483680724298_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258839_1483684239446_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120261142_1483693525715_title0h.jpg"></div>
            </div>
        </div>
        <div class="pagination3"></div>
        <a class="arrow-left arrow-left3" href="#"></a>
        <a class="arrow-right arrow-right3" href="#"></a>
    </div>
    <!--直播的分类-->
    <div class="menu-list">
        <ul>
            <li class="menu-list-active">行业案例</li>
            <li>教学案列</li>
        </ul>
    </div>
    <!--具体案列-->
    <div class="case-img-box">
        <!--行业案列-->
        <div class="case-img industry-case-img">
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case ">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase1.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case ">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase1.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case ">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase1.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case ">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase1.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>



            <div style="clear: both"></div>
            <div style="height: 30px;width: 100%"></div>
            <!--带总页码的分页-->
            <!--<div class="curstomer-page-box">
                <div class="curstomer-page industry-page"></div>
            </div>-->
            <!--<div class="curstomer-page-contanier">
                <span>首页</span>
                <span>上一页</span>
                <span>下一页</span>
                <span>尾页</span>
            </div>
            <div style="clear: both"></div>-->
        </div>
        <!--教学案列-->
        <div class="case-img teaching-case-img">
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase2.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase2.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase2.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>
            <div style="height: 330px;float: left;margin: 0 10px">
                <a href="./components/otherWeb/fullPage/fullPage.html">
                    <div class="specific-case">
                        <div class="specific-case-img">
                            <img src='img/curstomerCase2.png'>
                        </div>
                        <div class="specific-case-text">
                            <div class="specific-case-text-left">企业培训</div>
                            <div class="specific-case-text-right">2017.2.15</div>
                        </div>
                    </div>
                </a>
            </div>

            <div style="clear: both"></div>
            <div style="height: 30px;width: 100%"></div>
            <!--分页-->
            <!--<div class="curstomer-page-box">
                <div class="curstomer-page teaching-page"></div>
            </div>-->
            <!--<div class="curstomer-page-contanier">
                <span>首页</span>
                <span>上一页</span>
                <span>下一页</span>
                <span>尾页</span>
            </div>
            <div style="clear: both"></div>-->
        </div>
    </div>
</div>