.manMeeting-box{
    color: #989898;
    background: #ffffff;
}
.tab li{
    line-height: 25px;
    padding: 0 15px;
}

.tab ,.tab-containner{
    padding: 20px 20px 60px 20px;
}
.tab .layui-this{
    color: #00a2d7!important;
}
.tab .layui-this:after{
    border-bottom: 3px solid #00a2d7!important;
}
.tab .layui-this:before{
    position: absolute;
    left: 44%;
    top: 27px;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid #ffffff;
    border-bottom-color: #01a2d7;
    border-radius: 2px 2px 0 0;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    pointer-events: none;
}

.form-item{
    float: left;
    width: 15%;
}

.content-top button{
    padding: 0 30px;
}
.attention-bottom table{
    border: 1px solid #d5d5d5;
}
.attention-bottom table,th{
    text-align: center;
    cursor: pointer;
}
.default-like{
    padding: 2px;
    height: 25px;
    line-height: 20px;
    border-radius: 3px;
    background-color: #f2f2f2;
    font-size: 12px;
}
.videoImg-small{
    width: 142px;
    height: 80px;
    background: #eeeeee;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
#page{
    float: right;
}

@media screen and (max-width:1350px) {
    .icon-chakantiezishipin{
        margin-right: 0!important;
    }
}
.content-top input{
    height: 30px!important;
    line-height: 30px!important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content-top label{
    padding: 5px 15px;
}
.between{
    margin-top: 6px;
}
.query-btn{
    margin-top: 6px;
}