<div class="about-main">
    <!--头部轮播部分-->
    <div class="about-top-carousel">
        <div class="swiper-container swiper-container5">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/1120253992_1483626366737_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120224961_1483143403191_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258422_1483681963680_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258441_1483680724298_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120258839_1483684239446_title0h.jpg"></div>
                <div class="swiper-slide"><img src="img/1120261142_1483693525715_title0h.jpg"></div>
            </div>
        </div>
        <div class="pagination5"></div>
        <a class="arrow-left arrow-left5" href="#"></a>
        <a class="arrow-right arrow-right5" href="#"></a>
    </div>
    <!--分类-->
    <div class="about-menu-list">
        <ul>
            <li class="about-menu-list-active">关于安锐达</li>
            <li>联系我们</li>
        </ul>
    </div>
    <!--关于安锐达-->
    <div class="about-ard-box-box">
        <div class="about-ard-box">
            <div class="about-ard">
                <p class="about-ard-p1">
                    <!--<span>首页</span><span style="margin: 0 5px">></span><span>关于我们</span><span style="margin: 0 5px">></span><span>关于安锐达</span>-->
                </p>
                <p class="about-ard-p2">关于安锐达</p>
                <div class="about-ard-about">重庆安碧捷科技股份有限公司互联网医疗事业部团队结合国内大型医院超声科专家与超声科医师需求，为超声医学的特殊性专门研发的一套完整的超声科信息化整体解决方案。本方案分为实时超声会诊系统、实时超声质控系统、超声教学(培训)系统、超声会议影像转播+直播解决方案、医连体医院超声远程科会解决方案等产品群。团队通过近五年的研发与应用，建立了一套具有完全自主知识产权的超声科信息化生态模式，一举解决了超声科日常检查、过程控制、科室管理、特殊病例会诊、培训教学、学术会议、分级诊疗等多层次的需求。</div>
                <div class="about-ard-img">
                    <img src='img/aboutUs1.png'>
                </div>
                <div class="about-ard-img1">
                    <img src='img/aboutUs2.png'>
                </div>
            </div>
        </div>
        <div class="about-ard-function-box">
            <div class="about-ard-function">
                <div class="about-ard-function-left">+<span style="margin: 0 10px">功能强大</span>+</div>
                <div class="about-ard-function-right">+<span style="margin: 0 10px">收看方便</span>+</div>
            </div>
        </div>
    </div>
    <!--联系我们-->
    <div class="contact-us-box">
        <div class="about-ard">
            <p class="about-ard-p1">
               <!-- <span>首页</span><span style="margin: 0 5px">></span><span>关于我们</span><span style="margin: 0 5px">></span><span>联系我们</span>-->
            </p>
        </div>
        <div class="contact-us-img">
            <div id="dituContent" style="width: 100%;height: 100%"></div>
        </div>
        <div class="contact-us">
            <p class="contact-us-p1">重庆安碧捷科技股份有限公司</p>
            <p class="contact-us-p2">023-6311 0223</p>
            <p class="contact-us-p3">中国重庆市两江新区青枫北路双子座B座24楼 401122</p>
        </div>
    </div>
</div>